@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-yellow: #F9A826;
$color-black: #273036;
$color-white: #f3f4f5;
$color-gray: #a6a6a6;
$color-darkgray: #343434;



body {
    font-family: 'Roboto', sans-serif;
    margin-top: 3rem;
    overflow-x: hidden;
}

/* ============ Navigation Bar =============== */

/* change the background color */
.navbar-custom {
    background-color: $color-black;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: $color-gray;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: $color-gray;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ============ Hero  =============== */
.hero {
    background-color: $color-white;

    &__img {
        img {
            width: 100%;
            position: relative;
            top: 4rem;

            @media (min-width: 768px) {
                width: 70%;
                position: absolute;
                top: -20rem;
                right: -5%;
            }

            @media (min-width: 992px) {
                width: 90%;
                top: 0;
                right: 0;
            }
        }
    }

    &__text {
        h2 {
            font-weight: 700;
            font-size: 53px;
            color: $color-black;
            margin-top: 30px;
            margin-bottom: 0;
            line-height: 1;
            white-space: nowrap;

            @media (min-width: 768px) {
                font-size: 58px;
                margin-top: 100px;
            }

            @media (min-width: 992px) {
                font-size: 63px;

            }
        }

        p {
            color: $color-yellow;
            font-size: 18px;
            margin-top: 30px;
        }

        a {
            display: inline-block;
            padding: 8px 22px;
            color: $color-black;
            background-color: transparent;
            border: 1px solid $color-black;
            font-size: 18px;
            margin-top: 30px;
            text-decoration: none;
            transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

            &:hover {
                background-color: $color-yellow;
            }
        }

    }
}

.wave {
    margin-bottom: -10px;
}

/* ============ Project =============== */
.project {
    background-color: $color-black;

    &__text {
        h1 {
            font-weight: 700;
            font-size: 2.5rem;
            color: $color-yellow;
            text-align: center;
            padding-top: 5rem;
            padding-bottom: 3rem;
        }

    }
}

/* ============ About =============== */
.about {
    background-color: $color-white;

    &__text {
        h1 {
            font-weight: 700;
            font-size: 2.5rem;
            color: $color-yellow;
            text-align: center;
            padding-top: 5rem;
            padding-bottom: 3rem;
        }

    }

}

/* ============ Contact =============== */
.contact {
    background-color: $color-black;

    &__text {
        h1 {
            font-weight: 700;
            font-size: 2.5rem;
            color: $color-yellow;
            text-align: center;
            padding-top: 5rem;
            padding-bottom: 3rem;
        }

    }

    &__button {
        display: inline-block;
        padding: 0.5rem 3rem;
        color: $color-white;
        background-color: transparent;
        border: 1px solid $color-white;
        font-size: 1rem;
        margin-top: 30px;
        text-decoration: none;
        transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &:hover {
            background-color: $color-yellow;
        }

    }

}

/* ============ Footer =============== */

.footer {
    background-color: $color-darkgray;
    padding-top: 6rem;
    padding-bottom: 2rem;
    position: relative;

    &__title {
        font-size: 1.5rem;
        color: $color-yellow;
        margin-bottom: 2rem;

        @media (min-width: 768px) {
            font-size: 1.75rem;

        }

        @media (min-width: 992px) {
            font-size: 2rem;

        }
    }


    &__social {
        margin-top: -1rem;

        a {
            margin-right: 10px;
            color: $color-white;

            &:hover {
                color: $color-yellow;
            }
        }
    }


    &__copyright {
        margin-top: 1rem;
        color: $color-white;
        font-size: .9rem;
    }
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}