@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-yellow: #F9A826;
$color-black: #273036;
$color-white: #fff;

body {
    font-family: 'Roboto', sans-serif;
}

/* ============ Navigation Bar =============== */

/* change the background color */
.navbar-custom {
    background-color: $color-black;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ============ Hero  =============== */

.custom-section {
    width: inherit;
    padding: 40px 0;

    .hero {
        &__img {
            img {
                width: 100%;
                position: relative;
                top: 7rem;

                @media (min-width: 768px) {
                    width: 80%;
                    position: absolute;
                    top: -18rem;
                    right: -10%;
                }

                @media (min-width: 992px) {
                    width: 100%;
                    top: 0;
                    right: 0;
                }
            }
        }

        &__text {
            h2 {
                font-weight: 700;
                font-size: 53px;
                color: $color-black;
                margin-top: 30px;
                margin-bottom: 0;
                line-height: 1;
                white-space: nowrap;

                @media (min-width: 768px) {
                    font-size: 58px;
                    margin-top: 100px;
                }

                @media (min-width: 992px) {
                    font-size: 63px;

                }
            }

            p {
                color: $color-yellow;
                font-size: 18px;
                margin-top: 30px;
            }

            a {
                display: inline-block;
                padding: 8px 22px;
                color: $color-black;
                background-color: transparent;
                border: 1px solid $color-black;
                font-size: 18px;
                margin-top: 30px;
                text-decoration: none;
                transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

                &:hover {
                    background-color: $color-yellow;
                }
            }
        }

    }
}

/* ============ Footer =============== */

.footer {
    background-color: $color-black;
    padding-top: 6rem;
    padding-bottom: 2rem;
    position: relative;

    &__title {
        font-size: 1.5rem;
        color: $color-yellow;
        margin-bottom: 2rem;

        @media (min-width: 768px) {
            font-size: 1.75rem;

        }

        @media (min-width: 992px) {
            font-size: 2rem;

        }
    }


    &__social {
        margin-top: -1rem;

        a {
            margin-right: 10px;
            color: $color-white;

            &:hover {
                color: $color-yellow;
            }
        }
    }


    &__copyright {
        margin-top: 1rem;
        color: $color-white;
        font-size: .9rem;
    }
}