/* ============ Project =============== */
.project {
    background-color: $color-black;
    padding-top: 3rem;
    
	.section-header {
        margin-bottom: 3rem;
        h1 {
            color: $color-yellow;
        }
	}
}

@media screen and (min-width: 992px) {
	.project {
		.section-header {
			h1 {
				max-width: 50%;
				margin: 0 auto;
			}
		}
	}
}

.project-card {
    
    &__button {
        background: $color-yellow !important;
        color: $color-black !important;
        border: 1px solid $color-black  !important;
        font-weight: 700;
        text-transform: uppercase;

        &:active:focus    {
            background: $color-yellow-hover !important;
            color: $color-white !important;
            border: 1px solid $color-black  !important;
        }
        &:hover,
        &:focus,
        &.focus {
            background: $color-yellow-hover !important;
            color: $color-white !important;
            border: 1px solid $color-black  !important;
        }
      
        &:active,
        &.active,
        &.disabled,
        &:disabled {
            background: $color-yellow-hover !important;
            color: $color-white !important;
            border: 1px solid $color-black  !important;
      
          &:focus,
          &.focus {
            background: $color-yellow-hover !important;
            color: $color-white !important;
            border: 1px solid $color-black  !important;
          }
        }
    }
}       